extends ../layout

block content
  #teaser
  if ready
    #bands
      i = 0
      each band, bandId in bands
        .band(id=bandId, style="color: #{colors[i++]};")
          h1= band.name
          .info
            p= band.text
            p: a.play(href="/bands/#{bandId}.mp3") Escuchar
    #backgrounds


append scripts

  != js('player')
  != js('amfmf')
    
